<!doctype html>
<html lang="en" th:xmlns="http://www.thymeleaf.org"  th:replace="base::Layout(~{::section})">
  <head>
   
    <title>Hello, world!
		......................Some errors come during creating smart contat manager project......................
	</title>
  </head>
  <body>
    

   <section> <p>1)Server side validation not able to applly somme error comes
	            2)Spring Security  extends websecurityconfigurationadapter option not showing
	               1) step-3....overrride methods are not shows in ........source-override/implements method-option bar configuration......
   </p> 
      
    </section>
   
  </body>
</html>